<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/head.css">
  <link rel="stylesheet" href="/css/background.css">
  <link rel="stylesheet" href="/css/cursor.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/49042efa96.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title>Join | What's new?</title>
</head>
<body>
  <div class="cursor"></div>

  <div class="bg-container">
    <canvas id="staticCanvas"></canvas>
  </div>

  <div class="main-container">
    <div class="card-con">  
      <div class="title-con">
        <h1>Stay tuned</h1>
        <p>Sign up here to receive emails when <a id="jw-link" target="blank" href="https://www.jw.org/en/whats-new/">jw.org</a> adds content.</p>
      </div>
      
      <div class="form-container">
        <form id="sub-form" action="/subscribe" method="post">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" name="email" id="email" class="input" placeholder="<%= emailPlaceholder %>" autocomplete="off">
          <button type="submit" id="submit-btn">SIGN UP</button>
        </form>
      </div>
      
      <div class="status-con">
        <p style="color: <%= colour %>;"><%= status %><span style="color: rgb(106, 158, 255);"><%= timeSince %></span></p>
      </div>
    </div>
  </div>

  <script src="/js/background.js"></script>
  <script src="/js/cursor.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>