<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/49042efa96.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title>Join | What's new?</title>
</head>
<body>

  <div class="main-container">
    <div class="title-con">
      <h1><a style="all: unset; cursor: pointer;" href="/">Get alerts🔔</a></h1>
      <p>when <a id="jw-link" target="blank" href="https://www.jw.org/en/whats-new/">jw.org</a> adds content!</p>
    </div>

    <div class="form-container">
      <form id="sub-form" action="/subscribe" method="post">
        <input type="hidden" id="hiddenDropdown" name="lang">
        <i class="fa-regular fa-envelope"></i>
        <input type="email" name="email" id="email" class="input" placeholder="<%= emailPlaceholder %>">
        <button type="submit" id="submit-btn">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>
      </form>
    </div>

    <div class="lang-con">
      <form id="lang-form">
        <select id="lang-select" name="lang">
          <option value="E">English</option>
          <option value="S">Español</option>
          <option value="X">Deutsch</option>
        </select>
      </form>
    </div>

    <div class="status-con">
      <p style="color: <%= colour %>;"><%= status %><span style="color: rgb(106, 158, 255);"><%= timeSince %></span></p>
    </div>
  </div>

  <script>
    document.getElementById('sub-form').addEventListener('submit', () => {
      const dropdownValue = document.getElementById('lang-select').value;
      document.getElementById('hiddenDropdown').value = dropdownValue;
    });
  </script>
</body>
</html>