.cursor {
  pointer-events: none; /* Needed to prevent our cursor from becoming the unintended target of our mouse events */
  position: fixed; /* Required for setting inset values */
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background-color: light-dark(black, white);
  transform: translate(-50%, -50%); /* Centers circle to cursor location */
  transform-origin: top left;
}

.click {
  scale: 0.8;
  /* transition: 0.1s; */
}

.pressable {
  scale: 1.3;
}

/* Only display a message if the user can't hover (which would indicate they're using an input that doesn't have a cursor) */
@media (hover: hover) {
  .no-cursor {
    display: none;
  }
}