.cursor {
  pointer-events: none;
  position: fixed;
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background-color: light-dark(#000, #fff);
  z-index: -1;
  transform: translate(-50%, -50%);
  transform-origin: top left;
}

.click {
  scale: 0.8;
}

.pressable {
  scale: 1.3;
}

/* Only display a message if the user can't hover (which would indicate they're using an input that doesn't have a cursor) */
@media (hover: hover) {
  .no-cursor {
    display: none;
  }
}