@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  cursor: none;
  font-family: "Quicksand", sans-serif;
}

body {
  background: linear-gradient(90deg,rgba(193, 221, 243, 1) 20%, rgba(181, 224, 255, 1) 71%);
}