.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-con {
  width: 100vw;
  height: 100dvh;
  max-width: 475px;
  max-height: 475px;
  margin: 30px;
  text-align: center;
  box-shadow: 15.0px 30.0px 30.0px hsl(0deg 0% 0% / 0.20);
  background-color: #fff;
  border-radius: 15px;
  transition: all 0.3s ease-out;
}

.card-con:hover {
  box-shadow: 5px 10px 10px hsl(0deg 0% 0% / 0.40);
}

.title-con {
  margin: 60px 60px 20px 60px;
}

.title-con h1 {
  margin-bottom: 20px;
  font-size: 38px;
  color: #08080c;
}

.title-con p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #08080c;
}

#jw-link {
  all: unset;
  color: #5e5e5e;
  font-weight: bold;
  transition: 0.5s;
}

#jw-link:hover {
  color: #08080c;
  font-weight: 500;
}

/* FORM */

.form-container {
  position: relative;
  margin: 0 60px 0 60px;
}

.fa-envelope {
  position: absolute;
  top: 11%;
  left: 5px;
  font-size: 22px;
  color: #9b9b9b;
}

.form-container .input {
  width: 100%;
  padding: 15px 0 15px 40px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 3px solid #9b9b9b;
  color: #08080c;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-container button {
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  background: none;
  border: 3px solid #08080c;
  color: #08080c;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.form-container button:hover {
  font-weight: 500;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 20px;
}

#github-link:hover {
  /* width: 40px; */
}