.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  letter-spacing: 1px;
}

.main-container h1 {
  margin-bottom: 20px;
  font-size: 42px;
  color: light-dark(#08080c, #f8fafc);
}

.main-container p {
  color: light-dark(#08080c, #b2b2b2);
  font-size: 20px;
}

.title-con {
  width: 90%;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  max-width: 450px;
  width: 90%;
  position: relative;
}

.form-container .input {
  field-sizing: content;
  background: none;
  outline: none;
  width: 100%;
  padding: 15px 50px;
  /* padding: 15px 0; */
  border: none;
  border-bottom: 2px solid light-dark(#08080c, #fff);
  color: light-dark(#08080c, #fff);
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
}

input:autofill,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px light-dark(#fff, #08080c) inset !important;
    box-shadow: 0 0 0px 1000px light-dark(#fff, #08080c) inset !important;
}

#submit-btn {
  background: none;
  border: none;
  padding: 0;
}

.fa-envelope {
  position: absolute;
  top: 21%;
  left: 5px;
  font-size: 25px;
  color: light-dark(#08080c, #fff);
  transition: 0.4s;
}

.fa-envelope:hover {
  /* color: #F08000; */
}

.fa-arrow-right-to-bracket {
  position: absolute;
  top: 21%;
  right: 5px;
  color: light-dark(#08080c, #fff);
  font-size: 25px;
  transition: 0.4s;
}

.fa-arrow-right-to-bracket:hover {
  color: rgb(106, 158, 255);
}

.lang-con {
  margin-top: 20px;
}

select, ::picker(select) {
  appearance: base-select;
}

/* closed dropdown */
select {
  border: none;
  /* border-radius: 10px; */
  padding: 8px 10px 8px 10px;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  color: #f8fafc;
  cursor: pointer;
}

/* open dropdown */
::picker(select) {
  font-size: 15px;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #1e293b;
}

/* dropdown items */
option {
  color: #f8fafc;
  padding: 10px;
  border-radius: 10px;
}

/* selected item */
option:checked {
  background-color: #324561;
}

.colour-mode-con {
  position: fixed;
  bottom: 30px;
}

.colour-mode-con i {
  color: light-dark(#08080c, #fff);
  font-size: 25px;
}

.status-con {
  /* position: fixed; */
  /* bottom: 0; */
  width: 90%;
  text-align: center;
}

.status-con p {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

#jw-link {
  all: unset;
  color: light-dark(#5e5e5e,#b2b2b2);
  font-weight: bold;
  transition: 0.5s;
}

#jw-link:hover {
  color: rgb(106, 158, 255);
  font-weight: 500;
}

#colour-icon {
  transition: 0.4s;
}

#colour-icon:hover {
  color: light-dark(#fff, #08080c);
}