@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(26, 28, 46, 0.5)), url('bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.main-container h1 {
  margin-bottom: 20px;
  font-size: 42px;
  color: #fff;
}

.main-container p {
  margin-bottom: 30px;
  color: #b2b2b2;
  font-size: 20px;
}

.title-con {
  width: 90%;
  text-align: center;
}

.form-container {
  max-width: 550px;
  width: 90%;
  position: relative;
}

.form-container .input {
  width: 100%;
  padding: 30px 100px 30px 60px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

#submit-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 24px;
}

.fa-envelope {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 20px;
}

.fa-arrow-right-to-bracket {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  background: #cac5e6;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.fa-arrow-right-to-bracket:hover {
  background: #b7b0e2;
}

.status-con {
  margin-top: 20px;
  border-radius: 10px;
}

.status-con p {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

#jw-link {
  all: unset;
  cursor: pointer;
  color: rgb(106, 158, 255);
  transition: 0.6s;
}

#jw-link:hover {
  color: #b2b2b2;
  font-weight: bold;
}